* text=auto !eol
/COPYING -text
/README.en -text
/README.fr -text
aide/bin/build.sh -text
aide/bin/frames.dsl -text
aide/brouteur.sgml -text
aide/domain.sgml -text
aide/ftp.sgml -text
aide/index.sgml -text
aide/sommaire.sgml -text
aide/stats.sgml -text
aide/test.sgml -text
bureau/admin/adm_add.php -text
bureau/admin/adm_deactivate.php -text
bureau/admin/adm_defquotas.php -text
bureau/admin/adm_del.php -text
bureau/admin/adm_doadd.php -text
bureau/admin/adm_dodefquotas.php -text
bureau/admin/adm_dodel.php -text
bureau/admin/adm_doedit.php -text
bureau/admin/adm_domlock.php -text
bureau/admin/adm_doms.php -text
bureau/admin/adm_donosu.php -text
bureau/admin/adm_dorenew.php -text
bureau/admin/adm_dosu.php -text
bureau/admin/adm_edit.php -text
bureau/admin/adm_list.php -text
bureau/admin/adm_login.php -text
bureau/admin/adm_mxaccount.php -text
bureau/admin/adm_panel.php -text
bureau/admin/adm_quotadoedit.php -text
bureau/admin/adm_quotaedit.php -text
bureau/admin/adm_slaveaccount.php -text
bureau/admin/adm_slaveip.php -text
bureau/admin/adm_tld.php -text
bureau/admin/adm_tldadd.php -text
bureau/admin/adm_tlddoadd.php -text
bureau/admin/adm_tlddoedit.php -text
bureau/admin/adm_tldedit.php -text
bureau/admin/adm_variables.php -text
bureau/admin/aide/files/browser_set.png -text
bureau/admin/aide/files/ftp_add.png -text
bureau/admin/aide/files/ftp_list.png -text
bureau/admin/aide/files/readme -text
bureau/admin/aide/files/sta_add.png -text
bureau/admin/aide/files/sta_view1.png -text
bureau/admin/aide/files/sta_view2.png -text
bureau/admin/aide/help.php -text
bureau/admin/aide/help.png -text
bureau/admin/aide/html/book1.html -text
bureau/admin/aide/html/c126.html -text
bureau/admin/aide/html/c18.html -text
bureau/admin/aide/html/c26.html -text
bureau/admin/aide/html/c72.html -text
bureau/admin/aide/html/c84.html -text
bureau/admin/aide/html/docbook.css -text
bureau/admin/aide/html/files/browser_set.png -text
bureau/admin/aide/html/files/ftp_add.png -text
bureau/admin/aide/html/files/ftp_list.png -text
bureau/admin/aide/html/files/readme -text
bureau/admin/aide/html/files/sta_add.png -text
bureau/admin/aide/html/files/sta_view1.png -text
bureau/admin/aide/html/files/sta_view2.png -text
bureau/admin/aide/html/frameset.html -text
bureau/admin/aide/html/plus.gif -text
bureau/admin/aide/html/tiret.gif -text
bureau/admin/aide/html/toc.htm -text
bureau/admin/aide/html/x105.html -text
bureau/admin/aide/html/x23.html -text
bureau/admin/aide/html/x53.html -text
bureau/admin/aide/inline/docbook.css -text
bureau/admin/aide/inline/frameset.html -text
bureau/admin/aide/inline/plus.gif -text
bureau/admin/aide/inline/tiret.gif -text
bureau/admin/alternc.png -text
bureau/admin/bro_editor.php -text
bureau/admin/bro_main.php -text
bureau/admin/bro_pref.php -text
bureau/admin/bro_tgzdown.php -text
bureau/admin/bro_view.php -text
bureau/admin/browseforfolder.php -text
bureau/admin/direct.php -text
bureau/admin/dom_add.php -text
bureau/admin/dom_doadd.php -text
bureau/admin/dom_dodel.php -text
bureau/admin/dom_edit.php -text
bureau/admin/dom_editdns.php -text
bureau/admin/dom_subdel.php -text
bureau/admin/dom_subdodel.php -text
bureau/admin/dom_subdoedit.php -text
bureau/admin/dom_subedit.php -text
bureau/admin/domlist.php -text
bureau/admin/ftp_add.php -text
bureau/admin/ftp_del.php -text
bureau/admin/ftp_doadd.php -text
bureau/admin/ftp_doedit.php -text
bureau/admin/ftp_edit.php -text
bureau/admin/ftp_list.php -text
bureau/admin/head.php -text
bureau/admin/hta_add.php -text
bureau/admin/hta_adduser.php -text
bureau/admin/hta_del.php -text
bureau/admin/hta_doadd.php -text
bureau/admin/hta_doadduser.php -text
bureau/admin/hta_dodeluser.php -text
bureau/admin/hta_doedituser.php -text
bureau/admin/hta_edit.php -text
bureau/admin/hta_edituser.php -text
bureau/admin/hta_list.php -text
bureau/admin/icon/browse.png -text
bureau/admin/icon/delfile.png -text
bureau/admin/icon/doc.png -text
bureau/admin/icon/encrypted.png -text
bureau/admin/icon/exe.png -text
bureau/admin/icon/file.png -text
bureau/admin/icon/folder.png -text
bureau/admin/icon/htm.png -text
bureau/admin/icon/jpg.png -text
bureau/admin/icon/m3u.png -text
bureau/admin/icon/move.png -text
bureau/admin/icon/newfile.png -text
bureau/admin/icon/newfolder.png -text
bureau/admin/icon/newhtml.png -text
bureau/admin/icon/openfold.png -text
bureau/admin/icon/pdf.png -text
bureau/admin/icon/php.png -text
bureau/admin/icon/ppt.png -text
bureau/admin/icon/properties.png -text
bureau/admin/icon/protect.png -text
bureau/admin/icon/ra.png -text
bureau/admin/icon/selall.png -text
bureau/admin/icon/sort0.png -text
bureau/admin/icon/sort1.png -text
bureau/admin/icon/swf.png -text
bureau/admin/icon/sxc.png -text
bureau/admin/icon/sxd.png -text
bureau/admin/icon/sxi.png -text
bureau/admin/icon/sxw.png -text
bureau/admin/icon/txt.png -text
bureau/admin/icon/wav.png -text
bureau/admin/icon/winresize.gif -text
bureau/admin/icon/xls.png -text
bureau/admin/icon/zip.png -text
bureau/admin/index.php -text
bureau/admin/js/alternc.js -text
bureau/admin/js/wz_dragdrop.js -text
bureau/admin/login.php -text
bureau/admin/mail_add.php -text
bureau/admin/mail_del.php -text
bureau/admin/mail_doadd.php -text
bureau/admin/mail_dodel.php -text
bureau/admin/mail_doedit.php -text
bureau/admin/mail_edit.php -text
bureau/admin/mail_list.php -text
bureau/admin/main.php -text
bureau/admin/mem_admin.php -text
bureau/admin/mem_chgmail.php -text
bureau/admin/mem_cm.php -text
bureau/admin/mem_cm2.php -text
bureau/admin/mem_logout.php -text
bureau/admin/mem_param.php -text
bureau/admin/mem_passwd.php -text
bureau/admin/menu.php -text
bureau/admin/menu_adm.php -text
bureau/admin/menu_aide.php -text
bureau/admin/menu_brouteur.php -text
bureau/admin/menu_dom.php -text
bureau/admin/menu_ftp.php -text
bureau/admin/menu_lang.php -text
bureau/admin/menu_mail.php -text
bureau/admin/menu_mem.php -text
bureau/admin/menu_quota.php -text
bureau/admin/menu_sql.php -text
bureau/admin/menu_sta2.php -text
bureau/admin/menu_web.php -text
bureau/admin/mxlist.php -text
bureau/admin/quota_show.php -text
bureau/admin/quota_show_all.php -text
bureau/admin/sql_add.php -text
bureau/admin/sql_addmain.php -text
bureau/admin/sql_admin.php -text
bureau/admin/sql_bck.php -text
bureau/admin/sql_del.php -text
bureau/admin/sql_doadd.php -text
bureau/admin/sql_dobck.php -text
bureau/admin/sql_dorestore.php -text
bureau/admin/sql_getparam.php -text
bureau/admin/sql_list.php -text
bureau/admin/sql_pass.php -text
bureau/admin/sql_passchg.php -text
bureau/admin/sql_restore.php -text
bureau/admin/sql_users_add.php -text
bureau/admin/sql_users_del.php -text
bureau/admin/sql_users_doadd.php -text
bureau/admin/sql_users_dorights.php -text
bureau/admin/sql_users_list.php -text
bureau/admin/sql_users_rights.php -text
bureau/admin/sta2_add_raw.php -text
bureau/admin/sta2_del_raw.php -text
bureau/admin/sta2_doadd_raw.php -text
bureau/admin/sta2_doedit_raw.php -text
bureau/admin/sta2_edit_raw.php -text
bureau/admin/sta2_list.php -text
bureau/admin/stats_members.php -text
bureau/admin/styles/base.css -text
bureau/admin/template.php -text
bureau/admin/web_list.php -text
bureau/admin/webmail/index.php -text
bureau/class/config.php -text
bureau/class/config_nochk.php -text
bureau/class/config_real.php -text
bureau/class/db_mysql.php -text
bureau/class/export_account.php -text
bureau/class/functions.php -text
bureau/class/lang_env.php -text
bureau/class/local.php -text
bureau/class/m_admin.php -text
bureau/class/m_bro.php -text
bureau/class/m_dom.php -text
bureau/class/m_err.php -text
bureau/class/m_ftp.php -text
bureau/class/m_hta.php -text
bureau/class/m_mail.php -text
bureau/class/m_mem.php -text
bureau/class/m_mysql.php -text
bureau/class/m_quota.php -text
bureau/class/m_sta2.php -text
bureau/class/mime.php -text
bureau/class/reset_stats_conf.php -text
bureau/class/variables.php -text
bureau/head.php -text
bureau/index.php -text
bureau/locales/Makefile -text
bureau/locales/README -text
bureau/locales/de_DE/LC_MESSAGES/messages.po -text
bureau/locales/en_US/LC_MESSAGES/manual.po -text
bureau/locales/es_ES/LC_MESSAGES/manual.po -text
bureau/locales/es_ES/LC_MESSAGES/messages.po -text
bureau/locales/es_VE/LC_MESSAGES/manual.po -text
bureau/locales/es_VE/LC_MESSAGES/messages.po -text
bureau/locales/fr_FR/LC_MESSAGES/manual.po -text
bureau/locales/fr_FR/LC_MESSAGES/messages.po -text
bureau/locales/manual.pot -text
bureau/locales/messages.pot -text
bureau/locales/pt_BR/LC_MESSAGES/messages.po -text
debian/NEWS -text
debian/README.Debian -text
debian/alternc-slave.config -text
debian/alternc-slave.dirs -text
debian/alternc-slave.install -text
debian/alternc-slave.links -text
debian/alternc-slave.lintian -text
debian/alternc-slave.logrotate -text
debian/alternc-slave.postinst -text
debian/alternc-slave.postrm -text
debian/alternc-slave.prerm -text
debian/alternc-slave.templates -text
debian/alternc.config -text
debian/alternc.cron.d -text
debian/alternc.dirs -text
debian/alternc.links -text
debian/alternc.lintian -text
debian/alternc.logrotate -text
debian/alternc.postinst -text
debian/alternc.postrm -text
debian/alternc.preinst -text
debian/alternc.prerm -text
debian/changelog -text
debian/compat -text
debian/control -text
debian/copyright -text
debian/docs -text
debian/po/POTFILES.in -text
debian/po/fr.po -text
debian/po/templates.pot -text
debian/rules -text
debian/templates -text
etc/alternc/apache-ssl.conf -text
etc/alternc/apache.conf -text
etc/alternc/apache2-ssl.conf -text
etc/alternc/apache2.conf -text
etc/alternc/menulist.txt -text
etc/alternc/phpmyadmin.inc.php -text
etc/alternc/postfix.cf -text
etc/alternc/templates/alternc/bureau.conf -text
etc/alternc/templates/bind/automatic.conf -text
etc/alternc/templates/bind/named.conf -text
etc/alternc/templates/bind/named.conf.options -text
etc/alternc/templates/bind/slaveip.conf -text
etc/alternc/templates/bind/templates/mx.template -text
etc/alternc/templates/bind/templates/named.template -text
etc/alternc/templates/bind/templates/slave.template -text
etc/alternc/templates/bind/templates/zone.template -text
etc/alternc/templates/courier/authdaemonrc -text
etc/alternc/templates/courier/authmysqlrc -text
etc/alternc/templates/default/saslauthd -text
etc/alternc/templates/postfix/ca.der -text
etc/alternc/templates/postfix/myalias.cf -text
etc/alternc/templates/postfix/mydomain.cf -text
etc/alternc/templates/postfix/mygid.cf -text
etc/alternc/templates/postfix/myvirtual.cf -text
etc/alternc/templates/postfix/sasl/smtpd.conf -text
etc/alternc/templates/proftpd/modules.conf -text
etc/alternc/templates/proftpd/proftpd.conf -text
etc/alternc/templates/proftpd/welcome.msg -text
etc/alternc/templates/squirrelmail/apache.conf -text
install/alternc.install -text
install/body_checks -text
install/domaines.template -text
install/dopo.sh -text
install/header_checks -text
install/mysql.sh -text
install/mysql.sql -text
install/newone.php -text
install/reset_root.php -text
install/upgrade_check.sh -text
install/upgrades/0.9.1.sh -text
install/upgrades/0.9.1.sql -text
install/upgrades/0.9.1_migrationldap.php -text
install/upgrades/0.9.2.php -text
install/upgrades/0.9.2.sql -text
install/upgrades/0.9.3.1.sql -text
install/upgrades/0.9.3.sql -text
install/upgrades/0.9.4.sql -text
install/upgrades/0.9.5.sh -text
install/upgrades/0.9.5.sql -text
install/upgrades/0.9.6.sql -text
install/upgrades/0.9.7.sql -text
install/upgrades/0.9.9.sql -text
install/upgrades/README -text
man/alternc-admintools.8 -text
man/alternc-admintools.fr.8 -text
man/alternc.install.8 -text
man/get_account_by_domain.8 -text
man/get_domains_by_account.8 -text
man/top_ftp_users.8 -text
man/top_ftp_users.fr.8 -text
man/top_http_users.8 -text
man/top_http_users.fr.8 -text
man/top_mysql_users.8 -text
man/top_mysql_users.fr.8 -text
po/alternc-admintools.pot -text
po/fr/LC_MESSAGES/alternc-admintools.po -text
/quota_delete -text
/quota_init -text
src/Makefile -text
src/basedir_prot.sh -text
src/du.pl -text
src/fixperms.sh -text
src/functions.sh -text
src/mail_add -text
src/mail_del -text
src/mem_add -text
src/mem_del -text
src/quota_delete -text
src/quota_edit -text
src/quota_edit.sh -text
src/quota_get -text
src/quota_get.sh -text
src/quota_init -text
src/rawstat.daily -text
src/sendmail -text
src/slave_dns -text
src/spoolsize.php -text
src/sqlbackup.sh -text
src/update_domains.sh -text
tests/mechdump.pm -text
tests/test_demo.pl -text
tests/whois_test.php -text
tools/get_account_by_domain -text
tools/get_domains_by_account -text
tools/top_ftp_users -text
tools/top_http_users -text
tools/top_mysql_users -text
