/build-stamp
bureau/locales/de_DE/LC_MESSAGES/alternc.mo
bureau/locales/en_US/LC_MESSAGES/alternc.mo
bureau/locales/es_ES/LC_MESSAGES/alternc.mo
bureau/locales/fr_FR/LC_MESSAGES/alternc.mo
bureau/locales/nl_NL/LC_MESSAGES/alternc.mo
bureau/locales/pt_BR/LC_MESSAGES/alternc.mo
debian/alternc
debian/alternc-awstats
debian/alternc-awstats.debhelper.log
debian/alternc-awstats.postrm.debhelper
debian/alternc-awstats.substvars
debian/alternc-api
debian/alternc-api.debhelper.log
debian/alternc-api.substvars
debian/alternc-roundcube
debian/alternc-roundcube.debhelper.log
debian/alternc-roundcube.substvars
debian/alternc-slave
debian/alternc-slave.debhelper.log
debian/alternc-slave.postrm.debhelper
debian/alternc-slave.substvars
debian/alternc-squirrelmail
debian/alternc-squirrelmail.debhelper.log
debian/alternc-squirrelmail.substvars
debian/alternc-upnp
debian/alternc-upnp.debhelper.log
debian/alternc-upnp.substvars
debian/alternc.debhelper.log
debian/alternc.postrm.debhelper
debian/alternc.substvars
debian/files
lang/de_DE.po
lang/es_ES.po
lang/fr_FR.po
lang/it_IT.po
lang/pt_BR.po
po/fr/LC_MESSAGES/alternc-admintools.mo
nbproject
awstats/bureau/locales/de_DE/LC_MESSAGES/aws.po~
awstats/bureau/locales/en_US/LC_MESSAGES/aws.po~
awstats/bureau/locales/es_ES/LC_MESSAGES/aws.po~
awstats/bureau/locales/fr_FR/LC_MESSAGES/aws.po~
awstats/bureau/locales/it_IT/LC_MESSAGES/aws.po~
awstats/bureau/locales/nl_NL/LC_MESSAGES/aws.po~
awstats/bureau/locales/pt_BR/LC_MESSAGES/aws.po~
bureau/locales/de_DE/LC_MESSAGES/messages.po~
bureau/locales/en_US/LC_MESSAGES/messages.po~
bureau/locales/es_ES/LC_MESSAGES/messages.po~
bureau/locales/fr_FR/LC_MESSAGES/messages.po~
bureau/locales/it_IT/LC_MESSAGES/messages.po~
bureau/locales/nl_NL/LC_MESSAGES/messages.po~
bureau/locales/pt_BR/LC_MESSAGES/messages.po~
