/build-stamp
bureau/locales/de_DE/LC_MESSAGES/alternc.mo
bureau/locales/en_US/LC_MESSAGES/alternc.mo
bureau/locales/es_ES/LC_MESSAGES/alternc.mo
bureau/locales/fr_FR/LC_MESSAGES/alternc.mo
bureau/locales/nl_NL/LC_MESSAGES/alternc.mo
bureau/locales/pt_BR/LC_MESSAGES/alternc.mo
debian/alternc*.debhelper.log
debian/alternc*.postrm.debhelper
debian/alternc*.substvars
debian/alternc*.postrm.debhelper
debian/alternc
debian/alternc-api
debian/alternc-ssl
debian/alternc-awstats
debian/alternc-roundcube
debian/alternc-slave
debian/alternc-squirrelmail
debian/alternc-upnp
debian/files
debian/.debhelper
debian/debhelper-build-stamp
lang/de_DE.po
lang/es_ES.po
lang/fr_FR.po
lang/it_IT.po
lang/pt_BR.po
po/fr/LC_MESSAGES/alternc-admintools.mo
nbproject
awstats/bureau/locales/de_DE/LC_MESSAGES/aws.po~
awstats/bureau/locales/en_US/LC_MESSAGES/aws.po~
awstats/bureau/locales/es_ES/LC_MESSAGES/aws.po~
awstats/bureau/locales/fr_FR/LC_MESSAGES/aws.po~
awstats/bureau/locales/it_IT/LC_MESSAGES/aws.po~
awstats/bureau/locales/nl_NL/LC_MESSAGES/aws.po~
awstats/bureau/locales/pt_BR/LC_MESSAGES/aws.po~
bureau/locales/de_DE/LC_MESSAGES/messages.po~
bureau/locales/en_US/LC_MESSAGES/messages.po~
bureau/locales/es_ES/LC_MESSAGES/messages.po~
bureau/locales/fr_FR/LC_MESSAGES/messages.po~
bureau/locales/it_IT/LC_MESSAGES/messages.po~
bureau/locales/nl_NL/LC_MESSAGES/messages.po~
bureau/locales/pt_BR/LC_MESSAGES/messages.po~
