* text=auto !eol
/.svnignore -text
.tx/config -text
/CODING_CONVENTION.php -text
/COPYING -text
/README -text
aide/bin/build.sh -text
aide/bin/frames.dsl -text
aide/brouteur.sgml -text
aide/domain.sgml -text
aide/ftp.sgml -text
aide/index.sgml -text
aide/sommaire.sgml -text
aide/stats.sgml -text
aide/test.sgml -text
awstats/Makefile -text
awstats/alternc-awstats -text
awstats/alterncawstats.conf -text
awstats/awstats.alternc.generic.conf -text
awstats/awstats.cache.php -text
awstats/awstats.sql -text
awstats/awstats.template.conf -text
awstats/awstats_alternc.png -text
awstats/bureau/admin/aws_add.php -text
awstats/bureau/admin/aws_del.php -text
awstats/bureau/admin/aws_doadd.php -text
awstats/bureau/admin/aws_doedit.php -text
awstats/bureau/admin/aws_edit.php -text
awstats/bureau/admin/aws_list.php -text
awstats/bureau/admin/aws_pass.php -text
awstats/bureau/admin/aws_useradd.php -text
awstats/bureau/admin/aws_userdel.php -text
awstats/bureau/admin/aws_users.php -text
awstats/bureau/admin/menu_aws.php -text
awstats/bureau/class/m_aws.php -text
awstats/bureau/locales/Makefile -text
awstats/bureau/locales/aws.pot -text
awstats/bureau/locales/aws_manual.pot -text
awstats/bureau/locales/de_DE/LC_MESSAGES/aws.po -text
awstats/bureau/locales/de_DE/LC_MESSAGES/aws_manual.po -text
awstats/bureau/locales/en_US/LC_MESSAGES/aws.po -text
awstats/bureau/locales/en_US/LC_MESSAGES/aws_manual.po -text
awstats/bureau/locales/es_ES/LC_MESSAGES/aws.po -text
awstats/bureau/locales/es_ES/LC_MESSAGES/aws_manual.po -text
awstats/bureau/locales/fr_FR/LC_MESSAGES/aws.po -text
awstats/bureau/locales/fr_FR/LC_MESSAGES/aws_manual.po -text
awstats/bureau/locales/it_IT/LC_MESSAGES/aws.po -text
awstats/bureau/locales/it_IT/LC_MESSAGES/aws_manual.po -text
awstats/bureau/locales/pt_BR/LC_MESSAGES/aws.po -text
awstats/bureau/locales/pt_BR/LC_MESSAGES/aws_manual.po -text
awstats/logresolvemerge.pl -text
bureau/admin/about.php -text
bureau/admin/adm_add.php -text
bureau/admin/adm_authip_whitelist.php -text
bureau/admin/adm_cancel.php -text
bureau/admin/adm_deactivate.php -text
bureau/admin/adm_defquotas.php -text
bureau/admin/adm_del.php -text
bureau/admin/adm_dnsweberror.php -text
bureau/admin/adm_doadd.php -text
bureau/admin/adm_dodefquotas.php -text
bureau/admin/adm_dodel.php -text
bureau/admin/adm_doedit.php -text
bureau/admin/adm_domlock.php -text
bureau/admin/adm_doms.php -text
bureau/admin/adm_doms_def_type.php -text
bureau/admin/adm_domstype.php -text
bureau/admin/adm_domstypedoedit.php -text
bureau/admin/adm_domstypeedit.php -text
bureau/admin/adm_domstyperegenerate.php -text
bureau/admin/adm_donosu.php -text
bureau/admin/adm_dorenew.php -text
bureau/admin/adm_dosu.php -text
bureau/admin/adm_edit.php -text
bureau/admin/adm_email.php -text
bureau/admin/adm_list.php -text
bureau/admin/adm_login.php -text
bureau/admin/adm_menulist.php -text
bureau/admin/adm_mxaccount.php -text
bureau/admin/adm_panel.php -text
bureau/admin/adm_passpolicy.php -text
bureau/admin/adm_quotadoedit.php -text
bureau/admin/adm_quotaedit.php -text
bureau/admin/adm_slaveaccount.php -text
bureau/admin/adm_slaveip.php -text
bureau/admin/adm_tld.php -text
bureau/admin/adm_tldadd.php -text
bureau/admin/adm_tlddoadd.php -text
bureau/admin/adm_tlddoedit.php -text
bureau/admin/adm_tldedit.php -text
bureau/admin/adm_variables.php -text
bureau/admin/aide/files/browser_set.png -text
bureau/admin/aide/files/ftp_add.png -text
bureau/admin/aide/files/ftp_list.png -text
bureau/admin/aide/files/readme -text
bureau/admin/aide/files/sta_add.png -text
bureau/admin/aide/files/sta_view1.png -text
bureau/admin/aide/files/sta_view2.png -text
bureau/admin/aide/help.php -text
bureau/admin/aide/help.png -text
bureau/admin/aide/html/book1.html -text
bureau/admin/aide/html/c126.html -text
bureau/admin/aide/html/c18.html -text
bureau/admin/aide/html/c26.html -text
bureau/admin/aide/html/c72.html -text
bureau/admin/aide/html/c84.html -text
bureau/admin/aide/html/docbook.css -text
bureau/admin/aide/html/files/browser_set.png -text
bureau/admin/aide/html/files/ftp_add.png -text
bureau/admin/aide/html/files/ftp_list.png -text
bureau/admin/aide/html/files/readme -text
bureau/admin/aide/html/files/sta_add.png -text
bureau/admin/aide/html/files/sta_view1.png -text
bureau/admin/aide/html/files/sta_view2.png -text
bureau/admin/aide/html/frameset.html -text
bureau/admin/aide/html/plus.gif -text
bureau/admin/aide/html/tiret.gif -text
bureau/admin/aide/html/toc.htm -text
bureau/admin/aide/html/x105.html -text
bureau/admin/aide/html/x23.html -text
bureau/admin/aide/html/x53.html -text
bureau/admin/aide/inline/docbook.css -text
bureau/admin/aide/inline/frameset.html -text
bureau/admin/aide/inline/plus.gif -text
bureau/admin/aide/inline/tiret.gif -text
bureau/admin/alternc.jpg -text
bureau/admin/alternc.png -text
bureau/admin/alternc3.png -text
bureau/admin/alternc_debugme.php -text
bureau/admin/bro_downloadfile.php -text
bureau/admin/bro_editor.php -text
bureau/admin/bro_main.php -text
bureau/admin/bro_pref.php -text
bureau/admin/bro_tgzdown.php -text
bureau/admin/bro_view.php -text
bureau/admin/browseforfolder.php -text
bureau/admin/cron.php -text
bureau/admin/dom_add.php -text
bureau/admin/dom_defdel.php -text
bureau/admin/dom_doadd.php -text
bureau/admin/dom_dodel.php -text
bureau/admin/dom_edit.inc.php -text
bureau/admin/dom_edit.php -text
bureau/admin/dom_editdns.php -text
bureau/admin/dom_subdel.php -text
bureau/admin/dom_subdodel.php -text
bureau/admin/dom_subdoedit.php -text
bureau/admin/dom_subedit.php -text
bureau/admin/dom_substatus.php -text
bureau/admin/domlist.php -text
bureau/admin/favicon.ico -text
bureau/admin/foot.php -text
bureau/admin/ftp_add.php -text
bureau/admin/ftp_del.php -text
bureau/admin/ftp_doadd.php -text
bureau/admin/ftp_doedit.php -text
bureau/admin/ftp_edit.php -text
bureau/admin/ftp_list.php -text
bureau/admin/head.php -text
bureau/admin/hippo_bleue.gif -text
bureau/admin/hoster.png -text
bureau/admin/hta_add.php -text
bureau/admin/hta_adduser.php -text
bureau/admin/hta_del.php -text
bureau/admin/hta_doadd.php -text
bureau/admin/hta_doadduser.php -text
bureau/admin/hta_dodeluser.php -text
bureau/admin/hta_doedituser.php -text
bureau/admin/hta_edit.php -text
bureau/admin/hta_edituser.php -text
bureau/admin/hta_list.php -text
bureau/admin/icon/browse.png -text
bureau/admin/icon/delfile.png -text
bureau/admin/icon/doc.png -text
bureau/admin/icon/encrypted.png -text
bureau/admin/icon/exe.png -text
bureau/admin/icon/file.png -text
bureau/admin/icon/folder.png -text
bureau/admin/icon/htm.png -text
bureau/admin/icon/jpg.png -text
bureau/admin/icon/m3u.png -text
bureau/admin/icon/move.png -text
bureau/admin/icon/newfile.png -text
bureau/admin/icon/newfolder.png -text
bureau/admin/icon/newhtml.png -text
bureau/admin/icon/openfold.png -text
bureau/admin/icon/pdf.png -text
bureau/admin/icon/php.png -text
bureau/admin/icon/ppt.png -text
bureau/admin/icon/properties.png -text
bureau/admin/icon/protect.png -text
bureau/admin/icon/ra.png -text
bureau/admin/icon/selall.png -text
bureau/admin/icon/sort0.png -text
bureau/admin/icon/sort1.png -text
bureau/admin/icon/swf.png -text
bureau/admin/icon/sxc.png -text
bureau/admin/icon/sxd.png -text
bureau/admin/icon/sxi.png -text
bureau/admin/icon/sxw.png -text
bureau/admin/icon/txt.png -text
bureau/admin/icon/wav.png -text
bureau/admin/icon/winresize.gif -text
bureau/admin/icon/xls.png -text
bureau/admin/icon/zip.png -text
bureau/admin/images/admin.png -text
bureau/admin/images/bgborder.gif -text
bureau/admin/images/blank.gif -text
bureau/admin/images/check_no.png -text
bureau/admin/images/check_ok.png -text
bureau/admin/images/config.png -text
bureau/admin/images/delete.png -text
bureau/admin/images/dom.png -text
bureau/admin/images/edit.png -text
bureau/admin/images/exit.png -text
bureau/admin/images/folder.png -text
bureau/admin/images/folderhta.png -text
bureau/admin/images/ftp.png -text
bureau/admin/images/help.png -text
bureau/admin/images/home.png -text
bureau/admin/images/ip.png -text
bureau/admin/images/lang.png -text
bureau/admin/images/logs.png -text
bureau/admin/images/mail.png -text
bureau/admin/images/minus.png -text
bureau/admin/images/mysql.png -text
bureau/admin/images/new.png -text
bureau/admin/images/orig/admin.png -text
bureau/admin/images/orig/bgborder.gif -text
bureau/admin/images/orig/blank.gif -text
bureau/admin/images/orig/config.png -text
bureau/admin/images/orig/delete.png -text
bureau/admin/images/orig/dom.png -text
bureau/admin/images/orig/edit.png -text
bureau/admin/images/orig/exit.png -text
bureau/admin/images/orig/folder.png -text
bureau/admin/images/orig/folderhta.png -text
bureau/admin/images/orig/ftp.png -text
bureau/admin/images/orig/help.png -text
bureau/admin/images/orig/home.png -text
bureau/admin/images/orig/mail.png -text
bureau/admin/images/orig/mailman.png -text
bureau/admin/images/orig/minus.png -text
bureau/admin/images/orig/mysql.png -text
bureau/admin/images/orig/new.png -text
bureau/admin/images/orig/password.png -text
bureau/admin/images/orig/plus.png -text
bureau/admin/images/orig/quota.png -text
bureau/admin/images/orig/stat.png -text
bureau/admin/images/password.png -text
bureau/admin/images/passwordstrength.jpg -text
bureau/admin/images/plus.png -text
bureau/admin/images/pumpkin.png -text
bureau/admin/images/quota.png -text
bureau/admin/images/refresh.png -text
bureau/admin/images/row-down.png -text
bureau/admin/images/row-down.png2 -text
bureau/admin/images/schedule.png -text
bureau/admin/images/search.png -text
bureau/admin/images/stat.png -text
bureau/admin/images/undelete.png -text
bureau/admin/index.php -text
bureau/admin/ip_main.php -text
bureau/admin/js/alternc.js -text
bureau/admin/js/jquery.min.js -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_flat_75_ffffff_40x100.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_glass_65_ffffff_1x400.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_glass_75_dadada_1x400.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-icons_222222_256x240.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-icons_2e83ff_256x240.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-icons_454545_256x240.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-icons_888888_256x240.png -text
bureau/admin/js/jquery_ui/css/smoothness/images/ui-icons_cd0a0a_256x240.png -text
bureau/admin/js/jquery_ui/css/smoothness/jquery-ui-1.8.23.custom.css -text
bureau/admin/js/jquery_ui/index.html -text
bureau/admin/js/jquery_ui/js/jquery-1.7.2.min.js -text
bureau/admin/js/jquery_ui/js/jquery-ui-1.8.23.custom.min.js -text
bureau/admin/js/passwordStrengthMeter.js -text
bureau/admin/js/prototype.js -text
bureau/admin/login.php -text
bureau/admin/logo.png -text
bureau/admin/logo2.png -text
bureau/admin/logs_download.php -text
bureau/admin/logs_list.php -text
bureau/admin/mail_add.php -text
bureau/admin/mail_del.php -text
bureau/admin/mail_doadd.php -text
bureau/admin/mail_doedit.php -text
bureau/admin/mail_edit.php -text
bureau/admin/mail_list.php -text
bureau/admin/mail_manage_catchall.php -text
bureau/admin/mail_undelete.php -text
bureau/admin/main.php -text
bureau/admin/mem_admin.php -text
bureau/admin/mem_chgmail.php -text
bureau/admin/mem_cm.php -text
bureau/admin/mem_cm2.php -text
bureau/admin/mem_logout.php -text
bureau/admin/mem_param.php -text
bureau/admin/mem_passwd.php -text
bureau/admin/menu.php -text
bureau/admin/menu_adm.php -text
bureau/admin/menu_aide.php -text
bureau/admin/menu_brouteur.php -text
bureau/admin/menu_cron.php -text
bureau/admin/menu_dom.php -text
bureau/admin/menu_ftp.php -text
bureau/admin/menu_ip.php -text
bureau/admin/menu_lang.php -text
bureau/admin/menu_logs.php -text
bureau/admin/menu_mail.php -text
bureau/admin/menu_mem.php -text
bureau/admin/menu_piwik.php -text
bureau/admin/menu_quota.php -text
bureau/admin/menu_sql.php -text
bureau/admin/menu_web.php -text
bureau/admin/mxlist.php -text
bureau/admin/nowebmail.php -text
bureau/admin/phpinfo.php -text
bureau/admin/piwik_addaccount.php -text
bureau/admin/piwik_addsites.php -text
bureau/admin/piwik_sitelist.php -text
bureau/admin/piwik_user_dodel.php -text
bureau/admin/piwik_userlist.php -text
bureau/admin/powered2.jpg -text
bureau/admin/quota_show.php -text
bureau/admin/quotas_oneuser.php -text
bureau/admin/quotas_users.php -text
bureau/admin/sql_admin.php -text
bureau/admin/sql_bck.php -text
bureau/admin/sql_del.php -text
bureau/admin/sql_doadd.php -text
bureau/admin/sql_dobck.php -text
bureau/admin/sql_dorestore.php -text
bureau/admin/sql_getparam.php -text
bureau/admin/sql_list.php -text
bureau/admin/sql_restore.php -text
bureau/admin/sql_users_add.php -text
bureau/admin/sql_users_del.php -text
bureau/admin/sql_users_doadd.php -text
bureau/admin/sql_users_dopassword.php -text
bureau/admin/sql_users_dorights.php -text
bureau/admin/sql_users_list.php -text
bureau/admin/sql_users_password.php -text
bureau/admin/sql_users_rights.php -text
bureau/admin/stats_members.php -text
bureau/admin/styles/passwordStrengthMeter.css -text
bureau/admin/styles/style-empty.css -text
bureau/admin/styles/style-hw.css -text
bureau/admin/styles/style.css -text
bureau/admin/trash_dateselect.php -text
bureau/admin/webmail-redirect.php -text
bureau/class/config.php -text
bureau/class/config_nochk.php -text
bureau/class/config_real.php -text
bureau/class/db_mysql.php -text
bureau/class/export_account.php -text
bureau/class/functions.php -text
bureau/class/lang_env.php -text
bureau/class/local.php -text
bureau/class/m_admin.php -text
bureau/class/m_authip.php -text
bureau/class/m_bro.php -text
bureau/class/m_cron.php -text
bureau/class/m_debug_alternc.php -text
bureau/class/m_dom.php -text
bureau/class/m_err.php -text
bureau/class/m_export.php -text
bureau/class/m_ftp.php -text
bureau/class/m_hooks.php -text
bureau/class/m_hta.php -text
bureau/class/m_log.php -text
bureau/class/m_mail.php -text
bureau/class/m_mem.php -text
bureau/class/m_mysql.php -text
bureau/class/m_piwik.php -text
bureau/class/m_quota.php -text
bureau/class/m_trash.php -text
bureau/class/mime.php -text
bureau/class/reset_stats_conf.php -text
bureau/class/variables.php -text
bureau/index.php -text
bureau/locales/Makefile -text
bureau/locales/README -text
bureau/locales/de_DE/LC_MESSAGES/.svnignore -text
bureau/locales/de_DE/LC_MESSAGES/alternc -text
bureau/locales/de_DE/LC_MESSAGES/manual.po -text
bureau/locales/de_DE/LC_MESSAGES/messages.po -text
bureau/locales/en_US/LC_MESSAGES/.svnignore -text
bureau/locales/en_US/LC_MESSAGES/alternc -text
bureau/locales/en_US/LC_MESSAGES/manual.po -text
bureau/locales/en_US/LC_MESSAGES/messages.po -text
bureau/locales/es_ES/LC_MESSAGES/.svnignore -text
bureau/locales/es_ES/LC_MESSAGES/alternc -text
bureau/locales/es_ES/LC_MESSAGES/manual.po -text
bureau/locales/es_ES/LC_MESSAGES/messages.po -text
bureau/locales/fr_FR/LC_MESSAGES/.svnignore -text
bureau/locales/fr_FR/LC_MESSAGES/alternc -text
bureau/locales/fr_FR/LC_MESSAGES/manual.po -text
bureau/locales/fr_FR/LC_MESSAGES/messages.po -text
bureau/locales/it_IT/LC_MESSAGES/alternc -text
bureau/locales/it_IT/LC_MESSAGES/manual.po -text
bureau/locales/it_IT/LC_MESSAGES/messages.po -text
bureau/locales/manual.pot -text
bureau/locales/messages.pot -text
bureau/locales/pt_BR/LC_MESSAGES/.svnignore -text
bureau/locales/pt_BR/LC_MESSAGES/alternc -text
bureau/locales/pt_BR/LC_MESSAGES/manual.po -text
bureau/locales/pt_BR/LC_MESSAGES/messages.po -text
debian/.svnignore -text
debian/NEWS -text
debian/README.Debian -text
debian/alternc-awstats.cron.d -text
debian/alternc-awstats.dirs -text
debian/alternc-awstats.lintian-override -text
debian/alternc-awstats.postinst -text
debian/alternc-awstats.postrm -text
debian/alternc-awstats.preinst -text
debian/alternc-awstats.templates -text
debian/alternc-roundcube.dirs -text
debian/alternc-roundcube.postinst -text
debian/alternc-slave.config -text
debian/alternc-slave.dirs -text
debian/alternc-slave.install -text
debian/alternc-slave.links -text
debian/alternc-slave.lintian -text
debian/alternc-slave.logrotate -text
debian/alternc-slave.postinst -text
debian/alternc-slave.postrm -text
debian/alternc-slave.prerm -text
debian/alternc-slave.templates -text
debian/alternc-squirrelmail.dirs -text
debian/alternc-squirrelmail.postinst -text
debian/alternc-upnp.dirs -text
debian/alternc.config -text
debian/alternc.cron.d -text
debian/alternc.dirs -text
debian/alternc.links -text
debian/alternc.lintian -text
debian/alternc.logrotate -text
debian/alternc.postinst -text
debian/alternc.postrm -text
debian/alternc.preinst -text
debian/alternc.prerm -text
debian/alternc.templates -text
debian/changelog -text
debian/compat -text
debian/conffiles -text
debian/control -text
debian/copyright -text
debian/docs -text
debian/po/POTFILES.in -text
debian/po/de.po -text
debian/po/es.po -text
debian/po/fr.po -text
debian/po/it.po -text
debian/po/pt.po -text
debian/po/templates.pot -text
debian/rules -text
etc/alternc/alternc-sudoers -text
etc/alternc/alternc.ini -text
etc/alternc/apache2-ssl.conf -text
etc/alternc/apache2.conf -text
etc/alternc/apache_logformat.conf -text
etc/alternc/dbusers.cnf.sample -text
etc/alternc/functions_hosting/hosting_massvhost.sh -text
etc/alternc/menulist.txt -text
etc/alternc/phpmyadmin.inc.php -text
etc/alternc/postfix-slave.cf -text
etc/alternc/postfix.cf -text
etc/alternc/templates/alternc/bureau.conf -text
etc/alternc/templates/apache2/panel.conf -text
etc/alternc/templates/apache2/url.conf -text
etc/alternc/templates/apache2/vhost.conf -text
etc/alternc/templates/bind/automatic.conf -text
etc/alternc/templates/bind/named.conf.options -text
etc/alternc/templates/bind/slaveip.conf -text
etc/alternc/templates/bind/templates/mx.template -text
etc/alternc/templates/bind/templates/named.template -text
etc/alternc/templates/bind/templates/slave.template -text
etc/alternc/templates/bind/templates/zone.template -text
etc/alternc/templates/default/saslauthd -text
etc/alternc/templates/dovecot/dovecot-dict-quota.conf -text
etc/alternc/templates/dovecot/dovecot-sql.conf -text
etc/alternc/templates/dovecot/dovecot.conf -text
etc/alternc/templates/postfix/ca.der -text
etc/alternc/templates/postfix/master.cf -text
etc/alternc/templates/postfix/myalias.cf -text
etc/alternc/templates/postfix/mydomain.cf -text
etc/alternc/templates/postfix/mygid.cf -text
etc/alternc/templates/postfix/myquota.cf -text
etc/alternc/templates/postfix/myrelay-domain.cf -text
etc/alternc/templates/postfix/myrelay.cf -text
etc/alternc/templates/postfix/mytransport.cf -text
etc/alternc/templates/postfix/myvirtual.cf -text
etc/alternc/templates/postfix/sasl/smtpd.conf -text
etc/alternc/templates/proftpd/modules.conf -text
etc/alternc/templates/proftpd/proftpd.conf -text
etc/alternc/templates/proftpd/welcome.msg -text
install/alternc.install -text
install/body_checks -text
install/domaines.template -text
install/dopo.sh -text
install/header_checks -text
install/mysql.sh -text
install/mysql.sql -text
install/newone.php -text
install/reset_root.php -text
install/upgrade_check.sh -text
install/upgrades/0.9.1.sql -text
install/upgrades/0.9.10.sql -text
install/upgrades/0.9.1_migrationldap.php -text
install/upgrades/0.9.2.php -text
install/upgrades/0.9.2.sql -text
install/upgrades/0.9.3.1.sql -text
install/upgrades/0.9.3.sql -text
install/upgrades/0.9.4.sql -text
install/upgrades/0.9.5.sh -text
install/upgrades/0.9.5.sql -text
install/upgrades/0.9.6.sql -text
install/upgrades/0.9.7.sql -text
install/upgrades/0.9.9.sql -text
install/upgrades/1.0.1.php -text
install/upgrades/1.0.3.sql -text
install/upgrades/1.0.4.sh -text
install/upgrades/1.0.sql -text
install/upgrades/1.1.php -text
install/upgrades/1.1.sh -text
install/upgrades/1.1.sql -text
install/upgrades/README -text
lang/.svnignore -text
lang/README -text
lang/en_US.po -text
man/alternc-admintools.8 -text
man/alternc-admintools.fr.8 -text
man/alternc.install.8 -text
man/alternc.install.fr.8 -text
man/get_account_by_domain.8 -text
man/get_domains_by_account.8 -text
man/top_ftp_users.8 -text
man/top_ftp_users.fr.8 -text
man/top_http_users.8 -text
man/top_http_users.fr.8 -text
man/top_mysql_users.8 -text
man/top_mysql_users.fr.8 -text
nightlybuild/HEADER.html -text
nightlybuild/README.html -text
nightlybuild/READMEFIRST -text
nightlybuild/build.sh -text
nightlybuild/mchroot.sh -text
nightlybuild/nightly.key -text
po/alternc-admintools.pot -text
po/fr/LC_MESSAGES/.svnignore -text
po/fr/LC_MESSAGES/alternc-admintools.po -text
/repos-to-tx.sh -text
roundcube/Makefile -text
roundcube/class/m_roundcube.php -text
roundcube/roundcube-install -text
roundcube/roundcube_alternc_logo.png -text
roundcube/templates/apache2/roundcube.conf -text
roundcube/templates/roundcube/main.inc.php -text
roundcube/templates/roundcube/plugins/managesieve/config.inc.php -text
roundcube/templates/roundcube/plugins/password/config.inc.php -text
selenium/20120826-alternc-panel-testsuite.html -text
selenium/README -text
selenium/alternc.domain-local-mail-tld.html -text
squirrelmail/Makefile -text
squirrelmail/alternc_changepass/change.php -text
squirrelmail/alternc_changepass/setup.php -text
squirrelmail/class/m_squirrelmail.php -text
squirrelmail/squirrelmail-install -text
squirrelmail/templates/apache2/squirrelmail.conf -text
squirrelmail/templates/squirrelmail/alternc-changepass.conf -text
squirrelmail/templates/squirrelmail/apache.conf -text
squirrelmail/templates/squirrelmail/avelsieve-config.php -text
src/Makefile -text
src/alternc-check -text
src/alternc-dboptimize -text
src/alternc-passwd -text
src/alternc_add_policy_dovecot -text
src/alternc_reload -text
src/compress_logs.sh -text
src/courier-dovecot-migrate.pl -text
src/cron_users.sh -text
src/cron_users_doit.sh -text
src/delete_logs.sh -text
src/du.pl -text
src/export_account.php -text
src/fixperms.sh -text
src/functions.sh -text
src/functions_dns.sh -text
src/functions_hosting.sh -text
src/mem_add -text
src/mem_del -text
src/popimap-log-login.sh -text
src/quota-warning.sh -text
src/quota_delete -text
src/quota_edit -text
src/quota_get -text
src/quota_init -text
src/rebuild_all_webconf.sh -text
src/sendmail -text
src/slave_dns -text
src/spoolsize.php -text
src/sqlbackup.sh -text
src/update_domains.sh -text
src/update_mails.sh -text
/svnup.sh -text
tests/make_mail_dataset.sh -text
tests/mechdump.pm -text
tests/test_demo.pl -text
tests/whois_test.php -text
tools/alternc_get_path -text
tools/get_account_by_domain -text
tools/get_domains_by_account -text
tools/top_ftp_users -text
tools/top_http_users -text
tools/top_mysql_users -text
/tx-to-repos.sh -text
upnp/Makefile -text
upnp/adminmenu_upnp.php -text
upnp/m_upnp.php -text
upnp/update_upnp.sh -text
upnp/upnp-cron -text
upnp/upnp-install -text
upnp/upnp.sql -text
upnp/upnp_change.php -text
upnp/upnp_list.php -text
