language: php
services:
  - mysql
php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - 5.3
script: phpunit --coverage-clover=coverage.clover
before_script:
  - composer require phpunit/dbunit
  - mysql -e 'create database alternc_test DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;'
  - cd phpunit
  - which phpunit
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
