body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #000000
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #000000
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #007799;
	font-weight: bold
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #007777
}

hr {
	color:  #007799;
	border-color:  #007799;
}

.inp {
	background-color: #C0C0FF;
}