.style1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.inbox { width:200px;border:solid 1px gray; }
.graybar { width:200px; background:#dddddd; height:3px; float:left; }
.colorbar {margin-top:-3px;width:1px;background-image:url(images/passwordstrength.jpg);height:3px; float:left;}
.percent {margin-top:0px;float:left;}
.result {color:green; font-family:Tahoma;font-size:11px;}
