:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #5cb85c;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #5cb85c;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #f0f0f0;
  margin:0px;

}

body.light {
  background-color: #fff;
}

.hlp {
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 14px;
  color: #202020;
}

table {
  border-radius: 5px;
}

.lst2 {
  /*background-color: #F1F8FD;*/
  background-color: none;
}
.lst1 {
  background-color: #f9f9f9;
}

.lst:nth-child(even) {
  background:#f9f9f9;
}

.lst:nth-child(odd) {
  background:none;
}

thead tr th:hover, table.tlist tbody tr:first-child th:hover {
  background-color: #f0f0f0 !important;
}

tbody tr:first-child {
  border-bottom: 1px solid #eee;
}

table.tlist > tbody > tr.lst:hover,
table.tlist > tbody > tr.lst > td:hover {
  background-color: #DFEEF8 !important;
}

table.tlist > tbody > tr.lst:first-child {
  background-color: #fff;
}

table.tlist > thead {
  border-bottom: 1px solid #eee;
}

table.tlist > thead + tbody > tr.lst {
  border-bottom: transparent !important;
}

tr:hover,  td:hover
{
  background-color: transparent;
}

td {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #000000;
  padding-right: 6px;
}

th {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: black;
  background: #f0f0f0;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 23px;
  font-weight: normal;
  color: #444;
  text-align: left;
  padding: 11px;
  padding-left: 0;
  margin: 0px;
  word-wrap: break-word;
}

#content > h3 {
  padding-bottom: 9px;
  margin: 20px 0 20px 15px;
  border-bottom: 1px solid #eee;
}

.trbtn {
  text-align: right;

}

h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #007777
}

hr {
  /*color: #007799;*/
  height: 1px;
  /*border: 1px solid #007799;*/
  border: 1px solid transparent;
  border-width: 1px 0 0 0;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
  color: black;
  text-decoration: none;
}

td[style='background: red'], td[style='background: green'], td[style='background: yellow'], td[style='background: orange'] {
  border-radius: 1000px;
  display: block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
}

th:hover {
  background-color: #DFEEF8;
}

td[style='padding-right: 2px; border-right: 1px solid black; '], td[style='padding-right: 2px; border-right: 1px solid black; color: red'] {
  border-right: 1px solid #ddd !important;
}

.trbtn:hover {
  background-color: transparent !important;
}

fieldset {
  border: 1px solid transparent;
}

pre {
  overflow: auto;
  background-color: #eee;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

div.ui-accordion-content > ul {
  margin-top: 0px !important;
}

select, .inc, .inl {
  border: 1px solid #ccc;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: black;
  background: white;
  padding: 4px;
}

#inp1 {
  min-width: 50%;
  margin-top: 5px;
}

form > br + .inb, form > br + .ina, form > br + .inb + .inb, form > br + .ina + .inb, form > br + .inb + .ina, form > br + .ina + .ina {
  margin-top: 10px;
}

p > input#file + br + .inb, p > input#file + br + .inb + .inb {
  margin-top: 10px;
}

.showdirsize_button {
  margin-top: 10px;
}

input.inb, input.ina{
  color: black;
  white-space: nowrap;
  border: 1px solid black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 4px 10px 4px 0px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  padding-left: 10px;
  height: auto;
}

input.inb:hover, input.ina:hover {
  border: 1px solid black;
  text-decoration: none;
  background-color: #F0F0F0;
}

input.inb:focus, input.ina.focus {
  box-shadow: 0 0 0 0.2rem inbrgba(40, 167, 69, 0.5);
}

.inb.disabled, .inb:disabled {
  background-color: #5cb85c;
  border-color: #5cb85c;
}


.cancel.inb:not([disabled]):not(.disabled):active:, .cancel.inb:not([disabled]):not(.disabled).active,
.cancel.show > .inb.dropdown-toggle {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

input.inb.cancel:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.cancel:active{
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.delete.inb:not([disabled]):not(.disabled):active, .delete.inb:not([disabled]):not(.disabled).active,
.delete.show > .inb.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

input.inb.delete:active {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

}

.ok.inb:not([disabled]):not(.disabled):active, .ok.inb:not([disabled]):not(.disabled).active,
.ok.show > .inb.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

input.inb.ok:active {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.add.inb:not([disabled]):not(.disabled):active, .add.inb:not([disabled]):not(.disabled).active,
.add.show > .inb.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

input.inb.add:active {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

input.ui-state-hover {
  font-weight: normal;
}

input.ina, input.inav,
input.ina:hover, input.inav:hover {
  border: 1px solid black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

input.ina[name="actdel"], input.ina[name="actrename"], input.ina[name="actperms"], input.ina[name="actcopy"], input.ina[name="actmove"] {
  padding-top: 5px;
  padding-bottom: 4px;
}

input.ina, .ina a, .inb a, input.inb, input.ina,
input.inav, .inav a {
  background-color: #fff;
}

input.inav:hover, .inav a:hover, a.inav:hover,
input.ina:hover, .ina a:hover, .inb a:hover {
  background-color: #F0F0F0;
}

.ina a, a.ina, .inb a, a.inb,.inav a, a.inav {
  color: black;
  white-space: nowrap;
  border: 1px solid black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 4px 10px;
  color: black;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 23px;
  height: 25px;
}

#emaildom.int, #newsubname.int, #create_dom_list {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 10px;
}

#tabsdom-addsub #newsubname.int {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 10px;
  display: inline-table;
  padding-top: 0.23em;
  padding-bottom: 0.23em;
}

span#newsubname {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 10px;
  display: inline-table;
  padding-top: 0.28em;
  padding-bottom: 0.18em;
}

.int#sub, .int#mail_arg {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: inline-table;
}

.ina a:hover, a.ina:hover, .inb a:hover, a.inb:hover,.inav a:hover, a.inav:hover {
  text-decoration: none;
  color: black;
}

.ina img, .inb img {
  vertical-align: middle;
  padding: 0 2px 0 0;
  float: left;
}
.bff {
  border: 1px solid black;
  background-color: #F0F0F0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding-left: 2px;
  padding-right: 4px;
  color: black;
  cursor: pointer;
}

form[action='adm_dodefquotas.php'] table {
  border-color: transparent;
}

.int {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  min-height: 2em;
  padding-left: 6px;
  padding-right: 6px;
}

span.intleft, #usernpfx, #newdomwww {
    border: 0; /* disabled, not compatible with bootstrap */
}

form#formlist1 > span.int.intleft {
  padding-bottom: 0.14em;
  padding-top: 0.43em;
}

#create_dom_list_pfx {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
  padding-bottom: 5px;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 0px;
}

#usern, #newdomain {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

span.intright {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-bottom: 4px;
  padding-top: 3px;
  padding-right: 10px;
}

input.intleft {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

input.intright {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input.int[name="userfile"] {
  padding-top: 5px;
  padding-bottom: 2px;
}

.intleft {
  border-right: 0px;
  padding-right: 0px;
}

.intright {
  border-left: 0px;
  padding-left: 0px;
}

img {
  border: 0px;
  vertical-align: middle;
}

/* Alerts */
.alert {
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.alert h4 {
  color: inherit;
  margin-top: 0;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p, .alert > ul {
  margin-bottom: 0;
  margin-top: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  color: inherit;
  position: relative;
  right: -21px;
  top: -2px;
}
.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #356635;
}
.alert-success hr {
  border-top-color: #C9E2B3;
}
.alert-success .alert-link,
.alert-success a{
  color: #234323;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #2D6987;
}
.alert-info hr {
  border-top-color: #A6E1EC;
}
.alert-info .alert-link,
.alert-info a
{
  color: #193B4D;
}
.alert-warning {
  background-color: #FCF8E3;
  border-color: #FBEED5;
  color: #A47E3C;
}
.alert-warning hr {
  border-top-color: #F8E5BE;
}
.alert-warning .alert-link,
.alert-warning a {
  color: #6C5228;
}
.alert-danger {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #953B39;
}
.alert-danger hr {
  border-top-color: #E6C1C7;
}
.alert-danger .alert-link,
.alert-danger a{
  color: #6F2B2A;
}
.alert-danger-tr {
  background-color: #F2DEDE !important;
}


/* Alert icons */
#content .alert {
  background-position: 12px center;
  background-repeat: no-repeat;
  padding-left: 48px;
}
#content .alert-danger {
  background-image: url("../images/danger.png");
}
#content .alert-info{
  background-image: url("../images/info.png");
}
#content .alert-success {
  background-image: url("../images/success.png");
}
#content .alert-warning {
  background-image: url("../images/warning.png");
}

.alerte {
  color: #A00;
  font-style: italic;
}

/* Over quota class */
.over {
  color: red;
}

.mandatory {
  color: red;
  font-weight: bold;
  vertical-align: super;
  font-size: small;
  line-height: normal;
}

.code {
  font-size: 16px;
  font-family: Courier New, Fixed;
  font-weight: bold;
  text-align: center;
}

ul > li > a > span > img {
  display: none;
}

#global {
  display: block;
  width: 1020px;
  border: 1px solid #ddd;
  background-color: #fff;
  border: 0;
  min-height: 100%;
}

@media screen and (min-width: 1000px) {
  #global {
    width: auto;
    display: flex;
  }

  #content {
    flex: 1;
    width: auto;
  }
}

/* Main container */

#menu {
  display: block;
  border-right: 1px solid #ddd;
  border-bottom: transparent;
  padding: 0px;

}

#content {
  display: block;
  float: right;
  padding: 10px;
  vertical-align: top;
  background-color: #fff;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
}

a[href="ftp_edit.php?create=1"], a[href="httpperm_list.php"] {
  margin-left: -4px;
}

form[action="mman_edit.php"] > table > tbody > tr.lst1:hover, form[action="mman_edit.php"] > table > tbody > tr.lst2:hover {
  background-color: #DFEEF8;
}

/* Menu */

#menu {
  display: block;
  background-color: #f0f0f0;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 250px;
}

.menu-title:active {
  background-color: #DFEEF8;
}

#menu-dom:active {
  background-color: #DFEEF8;
}

.block_login_page .menu-box {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.menu-box a .menu-title {
  border-bottom: 1px solid #e7e7e7;
}

.menu-box li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.menu-box {
  font-size: 14px;
  background-color: #f0f0f0;
  border-top-color: transparent;
  height: auto;
}

.menu-box .menu-title {
  display: block;
  color: #000000;
  background-color: #f0f0f0;
  padding: 3px;
}

.menu-box a .menu-title {
  min-height: 30px;
  padding-top: 7px;
}

.menu-box .menu-conmargin {
  margin: 0 5px 5px 5px;
}

.menu-content {
    background: white;
}
.menu-content ul li a span {
  margin-left: 22px;
}

.menu-box ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menu-box li {
}

.menu-box a {
  text-decoration: none;
  color: #337ab7;
}

.menu-box a:hover,
.menu-box a:hover .menu-title {
  text-decoration: none;
  background-color: #DFEEF8;
}

.menu-box a:focus,
.menu-box a:focus .menu-title {
  text-decoration: none;
  background-color: #DFEEF8;
}

.menu-box li a {
  display: block;
  padding: 5px 5px 5px 10px;
  color: #444;
  text-decoration: none;
  border: 1px solid transparent;
  border-width: 1px 0;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; /* Opera 9*/
  outline:none;
}

.menu-box li a img {
  float: left;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  top: -3px;
  position: relative;
}

.menu-box li a:hover {
  color: #000000;
  border-width: 1px 0;
  text-decoration: none;
  background-color: #DFEEF8;
}

.menu-box .full {
  color: red;
}

/* Bars */

.barempty {
  background-color: white;
  border: 1px solid black;
  height: 8px;
  -webkit-border-radius:4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.barfill {
  float: left;
  background-color: red;
  height: 8px;
}

/* Infos */
#recap table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.searchtable {
  width: 900px;
  margin: 20px 0 20px 0px;
}

table.searchtable td {
  padding: 5px;
}

/* Others */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

#content > .center {
    display: none;
}

.border {
  border: 1px solid #C0DCF0;
}

.bold {
  font-weight: bold;
}


#sendthisfile {
  display: flex;
  margin-top: 6px;
}

.breadcrumb {
  font-size: 14px;

}

#newdomwww, #sub, #usernpfx, #dbnpfx, #account_namefx {
  border-right: 0;
  padding-right: 0;
}
#newdomain, #newsubname, #usern, #dbn, #account_name {
  border-left: 0;
  padding-left: 0;
}

#create_dom_list {
  border-left: 0;
  padding-left: 0;
}

input#email {
  border-right: 0;
  padding-right: 0;
  text-align: right;
}

span#emaildom {
  border-left: 0;
  padding-left: 2px;
  display: inline-table;
  padding-top: 0.28em;
  padding-bottom: 0.18em;
}

.tedit {
  border: 1px solid #aaa;
  padding: 6px;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.tedit td, .tedit th {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 0;
}

.formcell {
  vertical-align: top;
  padding: 10px;
}

.tlist, .tlist td, .tlist th,
.tlist2, .tlist2 td, .tlist2 th {
  padding: 4px;
  margin: 0;
  border-collapse: collapse;
}

.tlist {
  width: 100%;
  border: 1px solid #ddd;
}

.tlistb, .tlistb td, .tlistb th {
  padding: 4px;
  margin: 0;
  border-collapse: collapse;
}

table.tlistb, .tlistb tr, form > table {
  border: 1px solid transparent;
}

input#dir, input#sub_local {
  width: 200px;
}

.tab-ok {
  background-color: green;
}
.tab-err {
  background-color: red;
}
.tab-warn {
  background-color: coral;
}

.warningmsg {
  width: 500px;
}

#mx {
  width: 300px;
}

#admlistbtn {
  padding-bottom: 6px;
}

.advdom {
  padding-top: 6px;
}

.grey, .grey td {
  color: #999;
}

.retour-auto {
  max-width:220px;
  word-wrap:break-word;
}

.menutoplogo {
  top : 0;
  margin: 20px 30px;
  width: 190px;
}

.currentuser {
  margin: 25px 5px 10px 5px;
  color:#444;
}

.adminmenu {
  color: #800;
}

.menu-quota dd {
  margin: 5px 5px 5px 10px;
}

.menu-quota div.progress-bar {
  width: 180px;
  background: #fff;
  color: white;
  border: 1px solid transparent;
  margin-left: 10px;
  display: none;
}

div.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.progress-bar div.barre {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-color: #CCC;
  border: none;
}

div.progress-bar div.txt {
  position: absolute;
  left: 0;
  width: 100%;
  text-align:center;
}

.ombrage {
  border: 1px solid #ddd;
}

.petit,
.petit p,
.petit th,
.petit td {
  font-size:95%;
}

#adm_panel li, #adm_panel_root li {
  padding: 4px 0 4px 0;
}
#adm_panel li:hover, #adm_panel_root li:hover {
  background-color: #DFEEF8;
}

.edit a:before, a.edit:before, input.edit:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f304";
  padding-right: 6px;
}

.view a, a.view, input.view {
  background-image: url(../images/code.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.lock a, a.lock, input.lock {
  background-image: url(../icon/encrypted.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.settings a, a.settings, input.settings {
  background-image: url(../icon/settings.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.ok a, a.ok, input.ok {
  background-image: url(../icon/ok.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

input.ok:hover, input.ok:focus {
  background-image: url(../icon/ok.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.add a:before, a.add:before,
input.add:before, span.add .ina:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f067";
  padding-right: 6px;
}

div.add > a:hover,
div > .add a:hover, p > a.add:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

input.add:hover, input.add:focus {
  background-image: url(../icon/add.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.delete a, a.delete, input.delete {
  background-image: url(../icon/delete.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

div.delete a:hover,
div > .delete a:hover, p > a.delete:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

input.delete:hover, input.delete:focus {
  background-image: url(../icon/delete.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.cancel a, a.cancel, input.cancel {
  background-image: url(../icon/cancel.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

input.cancel:hover {
  background-image: url(../icon/cancel.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  background-color: #fcf8e3;
}

input.cancel:active {
  background-image: url(../icon/cancel.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.inb[name='cancel']:active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.inb[name='cancel']:hover {
  background-color: #fcf8e3;
}

.inb[name='select']:active {
  background-color: #449d44;
  border-color: #255625;
}
.inb[name='select']:hover {
  background-color: #dff0d8;
}

.configure a, a.configure, input.configure {
  background-image: url(../icon/configure.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.save a, a.save, input.save {
  background-image: url(../icon/save.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.down a, a.down, input.down {
  background-image: url(../icon/save.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.up a, a.up, input.up {
  background-image: url(../icon/up.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.up a:hover, a.up:hover, input.up:hover {
  background-image: url(../icon/up.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#btb1.ina {
  padding-top: 5px;
  padding-bottom: 4px;
}

.back a, a.back, input.back {
  background-image: url(../icon/back.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}

.admin a, a.admin, input.admin, .admin-menu .menu-title {
  background-image: url(../images/admin.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.home a, a.home, input.home, .home-menu .menu-title {
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.dom-edit-table td {
    height: 2.4em;
}
.dom a, a.dom, input.dom, .dom-menu .menu-title {
  background-image: url(../images/dom.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.mail a, a.mail, input.mail, .mail-menu .menu-title {
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.bro a, a.bro, input.bro, .bro-menu .menu-title {
  background-image: url(../images/folder.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.hta a, a.hta, input.hta, .hta-menu .menu-title {
  background-image: url(../images/password.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.ftp a, a.ftp, input.ftp, .ftp-menu .menu-title {
  background-image: url(../images/ftp.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.cron a, a.cron, input.cron, .cron-menu .menu-title {
  background-image: url(../images/schedule.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.lxc a, a.lxc, input.lxc, .lxc-menu .menu-title {
  background-image: url(../images/ssh.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.mysql a, a.mysql, input.mysql, .mysql-menu .menu-title {
  background-image: url(../images/mysql.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.quota a, a.quota, input.quota, .quota-menu .menu-title {
  background-image: url(../images/quota.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.authip a, a.authip, input.authip, .authip-menu .menu-title {
  background-image: url(../images/ip.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.log a, a.log, input.log, .log-menu .menu-title {
  background-image: url(../images/logs.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.help a, a.help, input.help, .help-menu .menu-title {
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.lang a, a.lang, input.lang, .lang-menu .menu-title {
  background-image: url(../images/lang.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}

.mem a, a.mem, input.mem, .mem-menu .menu-title {
  background-image: url(../images/settings.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
}



.filter a, a.edit, input.filter {
  background-image: url(../icon/filter.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-left: 30px;
}


/* Jquery-ui */

body .ui-tabs {
  padding: 0em;
  border: transparent;
}

body .ui-widget-content {
  margin-top: 15px;
  background: #fff;
}

#b1 {
  display:contents;
  background: #fff;
}

#browseiframe {
  padding: 20px;
}

body .ui-widget-header {
  background: #fff;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  border-radius: 4px 4px 0 0;
}

body .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #337ab7;
}

body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
  background: #fff;
  border: 1px solid transparent;
}

body .ui-state-active, body .ui-widget-content, body .ui-state-active, body .ui-widget-header .ui-state-active {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
}

body .ui-accordion .ui-accordion-content {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
}

body .ui-state-active a, body .ui-state-active a:link {
  color: #555;
}

body .ui-tabs .ui-tabs-panel {
  background: #fff;
  margin: 0 !important;
}

body .ui-tabs .ui-tabs-nav li a {
  padding: .5em 1em .5em 30px;
}

body .ui-state-active, body .ui-widget-content .ui-state-active, body .ui-widget-header .ui-state-active,
body ui-state-hover, body .ui-widget-content .ui-state-hover, body .ui-widget-header .ui-state-hover, body .ui-state-focus, body .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
  font-weight: normal;
}

body .ui-dialog .ui-dialog-title {
  color: black;
}

body .ui-widget-content a {
  color: #337ab7;
}

li.ui-state-hover[aria-selected='false'] {
  background: #eee;
}

li.ui-state-active[role='tab'] {
  border-bottom-color: transparent;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  outline:none;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  outline:none;
}

.info-toggle {
  background: none repeat scroll 0 0 #f5f5f5;
  border: 1px solid #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  margin: 16px 0;
  padding: 0 16px;
}

th.headerSortUp {
  background-image: url(../images/asc.gif);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  background-color: #3399FF;
}

th.headerSortDown {
  background-image: url(../images/desc.gif);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  background-color: #3399FF;
}

.sub-disabled {
  text-decoration: line-through;
}

.dlogin {
  text-align: center;
}

span.menu-title > span > img {
  display: none;

}

.login_page .inb {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.login_page .inb:hover {
  text-decoration: none;
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}

.login_page .inb:focus, .login_page .inb.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.login_page .inb.disabled, .login_page .inb:disabled {
  background-color: #5cb85c;
  border-color: #5cb85c;
}


.login_page .inb:not([disabled]):not(.disabled):active, .login_page .inb:not([disabled]):not(.disabled).active,
.show > .inb.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.login {
  margin-left: auto;
  margin-right: auto;
}

body.login_page {
  max-height: 100px !important;
}

.login_page #global {
  max-width: 1024px !important;
  margin: 60px auto !important;
  width: auto !important;
}

.login_page .unsecure {
  font-size: 14px;
  margin-bottom: 1em;
}

.login_page #content {
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: auto;
}

.login_page #logo, .login_page {
  text-align:center;
}

.login_page #logo, .login_page > img {
  margin-right: 10px;
}

.login_page .block_list {
  display: flex;
  flex-flow: column;
  padding: 0 10%;
}
.login_page .block_login_page {
  margin: 10px 15px;
}

.login_page .menu-box {
  width: 400px;
}

.login_page .block_list .menu-box {
  display: inline-block;
}

.menu-title {
  background-position: 8px 10px !important;
}

.block_login_page > b {

  font-weight: inherit;
}

.login_page .menu-box .menu-title {
  text-align: center;
  font-size: 1.2em;
}

.login_page .menu-box .menu-content {
  margin: 15px;
}

.login_page .menu-box .menu-content > div {
  margin-bottom: 7px;
}

.login_page .menu-box .menu-content label {
  width: 25%;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
}

.login_page .menu-box .menu-content input {
  width: 60%;
}

.login_page .menu-box .menu-content .submit {
  text-align: center;
}

.login_page .menu-box .menu-content input[type='submit']{
  height: 2em;
  width: 85%;
}

small > i {
  display: flex;
}

.content {
  height: 100%;
}

@media (max-width:1000px) {
  .login_page .block_login_page {
    width: 100%;
  }

  .login_page #global {
    margin: 0 !important;
  }

  #global {
    margin-top: 60px;
    width: auto;
    display: flex;
    min-height: 100%;
  }

  .global {
    display: block;
    width: auto;
    height: auto;
  }

  .menu, .content, #menu, #content {
    float: block;
    width: auto;
    height: auto;
  }

  .content {
    height: 100%;
  }
}

.logout a, a.logout, input.logout, .logout-menu .menu-title {
  background-image: url(../images/exit.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  padding-left: 30px;
  text-align: center;
}

.alternc_powered {
  text-align:right;
}

.toggle_menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

@media (max-width:2000px) {
  span#emaildom {
    padding-top: 0.17em;
    padding-bottom: 0.27em;
  }
  form#formlist1 > span.int.intleft {
    padding-bottom: 0.15em;
    padding-top: 0.4em;
  }
  span.intright {
    padding-bottom: 0.4em;
    padding-top: 0.25em;
  }
  span#newsubname {
    padding-top: 0.17em;
    padding-bottom: 0.27em;
  }
  #tabsdom-addsub #newsubname.int {
    padding-top: 0.1em;
    padding-bottom: 0.35em;
  }
}


.ssl a, a.ssl, input.ssl, .ssl-menu .menu-title {
  background-image: url(../images/ssl.png);
  background-repeat: no-repeat;
  background-position: 8px 3px;
  padding-left: 30px;
}

textarea.cert {
    font-family: Courier New, Courier, monospace, fixed;
    font-size: 12px;
}

textarea[readonly='readonly'] {
  background-color: #ddd;
}

