Source: alternc
Section: admin
Priority: optional
Maintainer: Benjamin Sonntag <benjamin@alternc.org>
Build-Depends-Indep: perl
                   , findutils (>= 4.1.7)
                   , gettext (>= 0.10.40-5)
Build-Depends: debhelper (>= 8)
             , po-debconf
Standards-Version: 3.9.4

Package: alternc
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0
           , bash (>= 4)
           , acl
Depends: debianutils (>= 1.13.1)
       , apache2-mpm-itk | libapache2-mpm-itk
       , libapache2-mod-php5 | libapache2-mod-php7.0
       , php5-mysql | php7.0-mysql
       , phpmyadmin
       , postfix
       , proftpd-mod-mysql
       , proftpd-basic
       , bind9
       , wget
       , rsync
       , ca-certificates
       , locales
       , perl-suid | perl
       , postfix-mysql
       , wwwconfig-common
       , sasl2-bin
       , libsasl2-modules
       , php5-cli | php7.0-cli
       , lockfile-progs (>= 0.1.9)
       , gettext (>= 0.10.40-5)
       , sudo
       , adduser
       , dnsutils
       , dovecot-core (>=1:2.1.7)
       , dovecot-imapd (>=1:2.1.7)
       , dovecot-pop3d (>=1:2.1.7)
       , dovecot-mysql
       , vlogger
       , mailutils | mailx
       , zip
       , incron
       , cron
       , opendkim
       , opendkim-tools
       , dovecot-sieve
       , dovecot-managesieved
       , mysql-client(>= 5.0) | mariadb-client
       , php5-curl | php7.0-curl
       , quota
       , pwgen
       , ${misc:Depends}
Recommends: mysql-server(>= 5.0) | mariadb-server
          , ntp
          , unzip
          , bzip2
Conflicts: alternc-admintools
        , alternc-awstats (<< 1.0)
        , alternc-webalizer (<= 0.9.4)
        , alternc-mailman (<< 2.0)
        , courier-authlib
Provides: alternc-admintools
Replaces: alternc-admintools
Suggests: alternc-awstats
       , alternc-mailman
       , alternc-changepass
       , amavisd-new
       , clamav-daemon
       , spamassassin
       , pop-before-smtp
       , magpierss
       , ncompress
       , alternc-squirrelmail
       , alternc-roundcube
Description: Hosting software managment suite for Debian
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 AlternC is mainly a PHP based administration interface and some conf files
 for the software used by it. 
 .
 More information at http://www.alternc.com/
Homepage: http://www.alternc.com/
Description-fr.UTF-8: Suite logicielle d'hébergement mutualisé pour Debian
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, comptes jabber, etc.
 .
 AlternC est essentiellement une interface d'administration en PHP et
 quelques fichiers de configuration pour les logiciels qu'il utilise.
 .
 Pour plus d'informations, consultez http://www.alternc.com/

Package: alternc-slave
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0, acl
Depends: debianutils (>= 1.13.1)
         , apache2-mpm-itk | libapache2-mpm-itk
         , libapache2-mod-php5 | libapache2-mod-php7.0
         , php5-mysql | php7.0-mysql
         , phpmyadmin
         , postfix
         , proftpd-mod-mysql
         , proftpd-basic
         , postfix-tls
         , bind9
         , wget
         , rsync
         , ca-certificates
         , locales
         , perl-suid
         , perl
         , postfix-mysql
         , wwwconfig-common
         , sasl2-bin
         , libsasl2-modules
         , php5-cli | php7.0-cli
         , lockfile-progs (>= 0.1.9)
         , gettext (>= 0.10.40-5)
         , adduser
         , sudo
         , dovecot-core (>=1:2.1.7)
         , dovecot-imapd (>=1:2.1.7)
         , dovecot-pop3d (>=1:2.1.7)
         , dovecot-mysql
         , vlogger
         , mailutils | mailx
         , incron
         , cron
         , opendkim
         , opendkim-tools
         , dovecot-sieve
         , dovecot-managesieved
         , mysql-client(>= 5.0) | mariadb-client
         , php5-curl
         , ${misc:Depends}
Recommends:
         quota
Conflicts: alternc-admintools
         , alternc-awstats (<= 0.3.2)
         , alternc-webalizer (<= 0.9.4)
         , alternc
Provides: alternc
Replaces: alternc
Suggests: alternc-awstats
         , alternc-mailman
         , alternc-changepass
         , amavisd-new
         , clamav-daemon
         , spamassassin
         , pop-before-smtp
         , magpierss
         , zip
         , ncompress
         , bzip2
Description: Hosting software managment suite for Debian
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 AlternC is mainly a PHP based administration interface and some conf files
 for the software used by it. 
 .
 This package is designed for frontend nodes in a load balancing setup, where
 the AlternC directory is not touched and managed over NFS.
 . 
 More information at http://www.alternc.com/
Homepage: http://www.alternc.com/
Description-fr.UTF-8: Suite logicielle d'hébergement mutualisé pour Debian
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, comptes jabber, etc.
 .
 AlternC est essentiellement une interface d'administration en PHP et
 quelques fichiers de configuration pour les logiciels qu'il utilise.
 .
 Ce paquet permet de construire un noeud frontal dans une configuration avec
 répartiteur de charge, ou le dossier /var/alternc n'est pas modifié et géré
 à travers NFS.
 .
 Pour plus d'informations, consultez http://www.alternc.com/

Package: alternc-squirrelmail
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0
Depends: debianutils (>= 1.13.1)
       , alternc (>= 3.0~rc1)
       , squirrelmail
       , squirrelmail-locales
       , avelsieve
       , ${misc:Depends}
Conflicts: alternc (<= 1.0.3)
       , alternc-changepass
Provides: alternc-webmail
Suggests: 
Description: Squirrelmail-Webmail plugin and configuration for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This extension to AlternC is installing and configuring properly the
 Squirrelmail Webmail. It also configure Avelsieve to allow server-side
 filtering, the password changing through MySQL, and the automatic
 creation of proper profile with the right address and language.
 .
 More information at http://www.alternc.com/
Homepage: http://www.alternc.com/
Description-fr.UTF-8: Webmail Squirrelmail pour AlternC
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, comptes jabber, etc.
 .
 Cette extension d'AlternC installe et configure le webmail Squirrelmail.
 Il configure aussi Avelsieve pour permettre l'accès au filtrage du courrier
 côté serveur, ainsi que le changement de mot de passe via MySQL et la création
 automatique des profiles avec la bonne adresse et la bonne langue.
 .
 Pour plus d'informations, consultez http://www.alternc.com/

Package: alternc-roundcube
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0
Depends: debianutils (>= 1.13.1)
       , alternc (>= 3.0~rc1)
       , roundcube (>= 0.7.1)
       , roundcube-mysql (>= 0.7.1)
       , roundcube-plugins (>= 0.7.1)
       , imagemagick
       , ${misc:Depends}
Conflicts: alternc (<< 1.1)
Provides: alternc-webmail
Suggests: 
Description: Roundcube-Webmail plugin and configuration for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This extension to AlternC is installing and configuring properly the
 Roundcube Webmail. It also configure sieve to allow server-side
 filtering, the password changing through MySQL, and the automatic
 creation of proper profile with the right address and language.
 .
 More information at http://www.alternc.com/
Homepage: http://www.alternc.com/
Description-fr.UTF-8: Webmail Roundcube pour AlternC
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, comptes jabber, etc.
 .
 Cette extension d'AlternC installe et configure le webmail Roundcube.
 Il configure aussi sieve pour permettre l'accès au filtrage du courrier
 côté serveur, ainsi que le changement de mot de passe via MySQL et la création
 automatique des profiles avec la bonne adresse et la bonne langue.
 .
 Pour plus d'informations, consultez http://www.alternc.com/

Package: alternc-awstats
Priority: optional
Section: admin
Architecture: all
Pre-depends: debconf
Depends: alternc (>= 3.0~rc1)
       , awstats (>=6.1-1)
       , php5-cli | php7.0-cli
       , ${misc:Depends}
Suggests: apachemerge
Description: Awstats statistics module for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites,   domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This package is an optional module that adds awstats statistics
 to the virtual desktop.
 .
 More information on http://www.alternc.com/.

Package: alternc-api
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0
Depends: debianutils (>= 1.13.1)
       , alternc (>= 3.0)
       , ${misc:Depends}
Conflicts: alternc (<< 3.0)
Description: Rest or get/post API for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This extension to AlternC is installing and configuring properly the
 GET/POST/REST API. You can then use https://yourpanel/api/ as an endpoint
 to launch remotely any functions of the hosting control panel.
 .
 More information at http://www.alternc.com/
Homepage: http://www.alternc.com/

Package: alternc-ssl
Priority: optional
Section: admin
Architecture: all
Depends: openssl
    , mysql-client | mariadb-client
    , debconf
    , alternc (>= 3.0)
    , php5-cli | php7.0-cli
    , ${misc:Depends}
Conflicts: alternc (<< 3.0)
Description: HTTPS module for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This package is an optional module that adds HTTPS vhosts and SSL Certificates
 management to the virtual desktop. 
 .
 More information on http://www.alternc.com/
Description-fr.UTF-8: Module HTTPS pour AlternC
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, comptes jabber, etc.
 .
 Ce paquet est un module optionnel qui permet aux utilisateurs
 de gérer des hôtes virtuels HTTPS et des certificats SSL dans AlternC.
