Source: alternc
Section: admin
Priority: optional
Maintainer: Antoine Beaupré <anarcat@koumbit.org>
Uploaders: Benjamin Sonntag <benjamin@alternc.org>
Build-Depends-Indep: findutils (>= 4.1.7), gettext (>= 0.10.40-5)
Build-Depends: debhelper (>= 4.0.2), po-debconf
Standards-Version: 3.8.0

Package: alternc
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0
Depends: debianutils (>= 1.13.1), apache2-mpm-itk, libapache2-mod-php5, php5-mysql, phpmyadmin, postfix, proftpd-mod-mysql, proftpd-basic, squirrelmail, squirrelmail-locales, postfix-tls, bind9, wget, rsync, quota, ca-certificates, locales, perl-suid, perl, postfix-mysql, wwwconfig-common, sasl2-bin, fam, libsasl2-modules, php5-cli, lockfile-progs (>= 0.1.9), gettext (>= 0.10.40-5), adduser, mysql-client, dnsutils, bash, acl, dovecot-common (>= 1:1.2.15), dovecot-imapd, dovecot-pop3d, dovecot-mysql
Recommends: mysql-server, dovecot-managesieved, dovecot-sieve
Conflicts: alternc-admintools, alternc-awstats (<= 0.3.2), alternc-webalizer (<= 0.9.4), courier-authdaemon
Provides: alternc-admintools
Replaces: alternc-admintools
Suggests: alternc-awstats, alternc-mailman, alternc-changepass, amavisd-new, clamav-daemon, spamassassin, pop-before-smtp, magpierss, zip, ncompress, bzip2
Description: hosting software managment suite for Debian
 Hosting software suite based on Valentin Lacambre's altern.org French hosting
 service. It uses Apache, Postfix, Sympa, MySQL and PHP to allow a web-based
 managment of services, such as web hosting, mail hosting, mailing lists,
 virtual hosts, and so on.
 .
 AlternC is mainly a PHP based administration interface and some conf files
 for the softwares used by it. More information at http://www.alternc.org/
Homepage: http://www.alternc.org/

Package: alternc-slave
Architecture: all
Pre-depends: debconf (>= 0.5.00) | debconf-2.0
Depends: debianutils (>= 1.13.1), apache2-mpm-itk, libapache2-mod-php5, php5-mysql, phpmyadmin, postfix, proftpd-mod-mysql, proftpd-basic, squirrelmail, postfix-tls, bind9, wget, rsync, quota, ca-certificates, locales, perl-suid, perl, postfix-mysql, wwwconfig-common, sasl2-bin, libsasl2-modules, php5-cli, lockfile-progs (>= 0.1.9), gettext (>= 0.10.40-5), adduser, mysql-client, sudo, acl, dovecot-common (>= 1:1.2.15), dovecot-imapd, dovecot-pop3d, dovecot-mysql
Recommends: dovecot-managesieved, dovecot-sieve
Conflicts: alternc-admintools, alternc-awstats (<= 0.3.2), alternc-webalizer (<= 0.9.4), alternc, courier-authdaemon
Provides: alternc
Replaces: alternc
Suggests: alternc-awstats, alternc-mailman, alternc-changepass, amavisd-new, clamav-daemon, spamassassin, pop-before-smtp, magpierss, zip, ncompress, bzip2
Description: hosting software managment suite for Debian, frontend web node
 Hosting software suite based on Valentin Lacambre's altern.org French hosting
 service. It uses Apache, Postfix, Sympa, MySQL and PHP to allow a web-based
 managment of services, such as web hosting, mail hosting, mailing lists,
 virtual hosts, and so on.
 .
 AlternC is mainly a PHP based administration interface and some conf files
 for the softwares used by it. More information at http://www.alternc.org/
 .
 This package is designed for frontend nodes in a load balancing setup, where
 the /var/alternc directory is not touched and managed over NFS.
Homepage: http://www.alternc.org/


