#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.
#
# This version is for a multibinary package. It also allows you to build any
# of the binary packages independantly, via binary-<package> targets.

# Uncomment this to turn on verbose mode. 
export DH_VERBOSE=1
MAJOR=$(shell sed -ne 's/^[^(]*(\([^)]*\)).*/\1/;1p' debian/changelog)
REV=$(shell env LANG=C svn info --non-interactive | awk '/^Revision:/ { print $$2 }')
VERSION="${MAJOR}~svn${REV}"
export VERSION

override_dh_install:
#dh install
	$(MAKE) install-alternc DESTDIR=$(CURDIR)/debian/alternc
	$(MAKE) install-squirrelmail DESTDIR=$(CURDIR)/debian/alternc-squirrelmail
	$(MAKE) install-roundcube DESTDIR=$(CURDIR)/debian/alternc-roundcube
	$(MAKE) install-upnp DESTDIR=$(CURDIR)/debian/alternc-upnp
	$(MAKE) install-awstats DESTDIR=$(CURDIR)/debian/alternc-awstats
	$(MAKE) install-slave DESTDIR=$(CURDIR)/debian/alternc-slave
	$(MAKE) install-api DESTDIR=$(CURDIR)/debian/alternc-api
	$(MAKE) -C ssl install DESTDIR=$(CURDIR)/debian/alternc-ssl

%:
	dh $@

