#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.
#
# This version is for a multibinary package. It also allows you to build any
# of the binary packages independantly, via binary-<package> targets.

# Uncomment this to turn on verbose mode. 
export DH_VERBOSE=1

override_dh_install:
#dh install
	$(MAKE) install-alternc DESTDIR=$(CURDIR)/debian/alternc
	$(MAKE) install-squirrelmail DESTDIR=$(CURDIR)/debian/alternc-squirrelmail
	$(MAKE) install-roundcube DESTDIR=$(CURDIR)/debian/alternc-roundcube
	$(MAKE) install-upnp DESTDIR=$(CURDIR)/debian/alternc-upnp
	$(MAKE) install-awstats DESTDIR=$(CURDIR)/debian/alternc-awstats
	$(MAKE) install-slave DESTDIR=$(CURDIR)/debian/alternc-slave
	$(MAKE) install-api DESTDIR=$(CURDIR)/debian/alternc-api
	$(MAKE) -C ssl install DESTDIR=$(CURDIR)/debian/alternc-ssl

override_dh_fixperms:
	dh_fixperms
	chmod 700 debian/alternc/var/lib/alternc/backups

%:
	dh $@

