diff --git a/debian/control b/debian/control
index 551f6171..ac10f87d 100644
--- a/debian/control
+++ b/debian/control
@@ -38,9 +38,9 @@ Depends: debianutils (>= 1.13.1)
        , sudo
        , adduser
        , dnsutils
-       , dovecot-core (>=1:2.1.7)
-       , dovecot-imapd (>=1:2.1.7)
-       , dovecot-pop3d (>=1:2.1.7)
+       , dovecot-common (>=1:2.1.7)
+       , dovecot-imapd
+       , dovecot-pop3d
        , dovecot-mysql
        , vlogger
        , mailutils | mailx
@@ -126,9 +126,9 @@ Depends: debianutils (>= 1.13.1)
          , gettext (>= 0.10.40-5)
          , adduser
          , sudo
-         , dovecot-core (>=1:2.1.7)
-         , dovecot-imapd (>=1:2.1.7)
-         , dovecot-pop3d (>=1:2.1.7)
+         , dovecot-common (>=1:2.1.7)
+         , dovecot-imapd
+         , dovecot-pop3d
          , dovecot-mysql
          , vlogger
          , mailutils | mailx
